.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: bold;
}

.descriptionP {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.outputBox {
  min-height: 550px;
  background-color: rgb(26, 28, 37);
  overflow-y: visible;
  overflow-x: hidden;
  max-height: 550px;
  padding: 1em;
}

.outputMsg {
  color: rgb(108, 98, 190);
  margin-top: 1em;
  font-size: 14pt;
  font-weight: bold;
}

.panelHeader {
  background-color: rgb(62, 65, 79);
  color: white;
}

.panelBtnGrp {
  margin: 0;
  background-color: rgb(62, 65, 79);
}

.triangleTopleft {
  width: 0;
  height: 0;
  border-top: 100px solid #00d1b2;
  border-right: 100px solid transparent;
}

.navBorder {
  border-bottom: 1px solid #ccc;
  box-shadow: 5px 6px 8px #888888;
}

.navBrandTitle {
  color: #00d1b2;
  zoom: 2;
  font-weight: bold;
  padding: 0;
  align-items: center;
  display: flex;
}

.pointer:hover {
  cursor: pointer;
}

.stdoutPanel {
  width: 100%;
}

.customStdoutPanel {
  width: 40%;
}

@media (max-width: 900px) {
  .stdoutPanel {
    width: 100%;
  }
  .descriptionP {
    margin: 1rem 0;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  .description {
    margin: 1rem 0;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}